@import 'https://fonts.googleapis.com/css?family=Karla|Slackey|Sriracha';

/* 전체 페이지 스타일 */
body {
    background-image: url('https://raw.githubusercontent.com/songChu1004/songChu.github.io/main/image/10.gif');
    user-select: none;
    perspective: 1000px;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    background-size: 100% 100%; /* 이미지 원본 크기로 설정 */
}

/* 전체 요소 스타일 초기화 */
* {
    outline: none;
}

/* 초대장 스타일 */
.invitation {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 봉투 스타일 */
.envelope {
    background: #B24040;
    width: 100%;
    height: 307.6923076923077px;
    position: relative;
    z-index: 1;
}

.envelope.is-open:before,
.envelope.is-open:after {
    z-index: -2;
}

.envelope:before {
    right: 0;
    border-bottom: 0px solid transparent;
    border-top: 307.6923076923077px solid transparent;
    border-right: 500px solid #B24A4A;
    z-index: 1;
}

.envelope:after {
    left: 0;
    border-bottom: 0px solid transparent;
    border-top: 307.6923076923077px solid transparent;
    border-left: 500px solid #B24A4A;
    z-index: 1;
}

/* 봉투 덮개 스타일 */
.flap {
    border-right: 250px solid transparent;
    border-top: 153.84615384615384px solid #B22222;
    border-left: 250px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 0%;
}


/* 봉투 마스크 스타일 */
.mask {
    box-sizing: border-box;
    clip-path: inset(0 0 50% 0);
    overflow: hidden;
    position: relative;
    width: 480px;
    height: 641.5384615384615px;
    z-index: 0;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    perspective: 1200px;
}

/* 카드 스타일 */
.card {
    position: relative;
    width: 450px;
    height: 600.3076923076923px;
    margin: auto;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    z-index: 2;
}

.front img {
    width: 90%;
    display: block;
    margin: auto;
}

/* 카드 뒷면 스타일 */
.face.back {
    color: #000;
    overflow: hidden;
}

.face.back img {
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

.open-button {
    font: normal 1.25em Karla, sans-serif;
    padding: 15px 30px;
    border-radius: 30px;
    /* background: #ffce00; */ /* 이 부분 주석 처리 */
    background: url('https://github.com/songChu1004/songChu.github.io/blob/main/image/3.png?raw=true') no-repeat center;
    background-size: cover; /* 이미지를 버튼에 맞게 조절 */
    color: #ff3c41;
    border: none;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    bottom: 30px; /* 아래 여백 조정 */
    transform-origin: 50% 50%;
    z-index: 1;
    width: 100px; /* 버튼 크기 지정 */
    height: 100px; /* 버튼 크기 지정 */
    bottom: 100px;
    cursor: pointer;
    transition: background 0.3s ease-out, color 0.3s ease-out;
}
