/* styles.css */

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Handletter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 초대장 초기 상태 */
.invitation {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover; /* 배경 이미지를 화면에 꽉 차게 설정 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    background-position: center center; /* 배경 이미지 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Handletter', sans-serif; /* Dovemayo_gothic 폰트 적용 */
}

/* 닫힌 편지 스타일 */
.letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-image: url('https://raw.githubusercontent.com/songChu1004/songChu.github.io/main/image/4.png');
    background-position: center center; /* 배경 이미지 중앙 정렬 */
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #8B4513; /* 글씨 색상 갈색으로 설정 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    background-size: 500px 700px;
    word-wrap: break-word;
}

@keyframes flutter {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* 열린 편지 스타일 */
.invitation.open .letter {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/* content 스타일 수정 */
.content {
    max-width: 25%; /* content의 가로 너비를 조절합니다. */
    margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정합니다. */
    word-wrap: break-word;
}


.letter p {
    font-size: 18px; 
    width: 25%;
    margin: 0 auto;
}

.map{
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

.letter hr {
    width: 100%; /* 가로 너비를 100%로 설정합니다. */
    max-width: 25%; /* 최대 너비를 .content의 너비와 동일하게 설정합니다. */
    margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정합니다. */
}

/* 반응형 스타일: 작은 화면 (모바일 등) */
@media (max-width: 768px) {
    .letter {
        padding-top: 30%; /* 작은 화면에서는 상단 패딩을 더 작게 조정 */
        padding-left: 10%; /* 작은 화면에서는 좌우 패딩을 더 작게 조정 */
        padding-right: 10%;
        word-wrap: break-word; /* 글자가 이미지 너비를 벗어나면 줄 바꿈 */
        background-size: 400px 600px;
    }
    .letter p {
        font-size: 18px; 
        width: 60%;
        margin: 0 auto;
    }
    .content {
        max-width: 60%; /* content의 가로 너비를 조절합니다. */
        margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정합니다. */
    }

    .map{
        width: 330px;
        height: 400px;
        margin: 0 auto;
    }
}